
.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 25px;
}

.header button {
  background-color: #242424;
}